.menu {
    background: linear-gradient(rgba(15, 16, 15, 0.8901960784313725), rgba(15, 16, 15, 0.8901960784313725)), url(../images/14bdf12687524fb2b73b8f45d6564859.webp);
    width: 100%;
    position: absolute;
}
.menu>.container {
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.brand {
    display: flex;
    position: relative;
    width: 181px;
}
.brand > a {
    display: flex;
    background-color: #fff;
    position: absolute;
    padding: 1.2em 1.5em 1.1rem;
    left: 0;
    top: 0;
    cursor: unset;
}
.brand > a > img {
    height: auto;
    width: 70px;
    cursor: pointer;
}
.menu-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    width: 100%;
    flex-direction: row;
}

.menu-list li {
    width: 140px;
    text-align: center;
}
.menu-list li a{
    font-size: 13px;
    font-weight:700
}

.nav-item:hover {
    background-color: #202120;
    transition: all .2s;
}
.hero {
    background-image: url('../images/hero.png');
    height: 700px;
}

.hero > div {
    padding-top: 130px;
}

.hero-tire img {
    width: 484px;
    height: 401px;
}
.point img {
    cursor: pointer;
    padding: 1rem;
    border-radius: 30px;
    transition: all .5s;
}
.point:hover img {
    opacity: 0.5;
}
.animated {
    animation-duration: 3s;
}
.point p {
    text-align: center;
    color: rgba(0,0,0,.6);
}
#rightLink span{
    font-size: 12px;
    font-weight: bold;
    color: #c9c9c9;
}
@media (max-width: 1024px) {
    .hero-tire img {
        width: 468px;
    }
}
@media (max-width: 768px) {
    .hero-tire img {
        width: auto;
        height: 195px;
    }
}